<!DOCTYPE html>  
<html>
    <head>
        <meta charset="utf-8"/> 
        <title>Menu</title> 

        <link rel="stylesheet" type="text/css" href="static/index.css">
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>

    <body>
        <div id = "body" class = "jumbotron text-center">
            <h1>Turma <span id = "s1"></span></h1>
            <a href = "/cadastramento.html" class = "sqrMainPage"><div>
                <p>Adicionar</p>
            </div></a>
            <a href = "/edicao.html" class = "sqrMainPage"><div>
                <p>Editar</p>
            </div></a>
            <a href = "/cadastramento.html" class = "sqrMainPage"><div>
                <p>Remover</p>
            </div></a>
            {% include("ver_lista.html") %}
        </div>
    </body>

</html>