<!DOCTYPE html>  
<html>
    <head>
        <meta charset="utf-8"/> 
        <title>Menu</title> 

        <link rel="stylesheet" type="text/css" href="static/ver_lista.css">
    </head>

    <body>
        <div id = "body">
            <h1>LISTA DE ALUNOS<span id = "s1"></span></h1>
            <ul class = "student_list_unity">
                {%for aluno in lAlunos%}
                    <li classe = "um_elemento">
                        <img class = "student_photo" src = "static/uploads/{{aluno[3]}}" alt="">
                        <div class = d_infos>
                            <p class = "student_name">{{aluno[0]}}</p>
                            <p class = "student_matricula">{{aluno[1]}}</p>
                            <p class = "student_curso">{{aluno[2]}}</p>
                        </div>
                    </li>
                {% endfor %} 
            </ul>
        </div>
    </body>

</html>